<form method="post" action="{{ path('product_delete', {'id': item.id}) }}" onsubmit="return confirm('Are you sure you want to delete {{item.label}}?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
    <button class="btn btn-danger">Remove from sales</button>
</form>
